.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.table-row {
  line-height: 100px;
  color: red;
}

table {
  border: solid 1px #ebedf3;
  margin-top: 10px;
}

th {
  height: 26px;
  color: #8c91a2;
  font-weight: 500;
}

td {
  height: 46px;
  color: #57595f;
}

tbody tr:nth-child(odd) {
  background-color: #fafbff;
}

span {
  background-color: #eae0fe;
  margin-right: 10px;
  padding: 0 2px 0 2px;
  border-radius: 50%;
  font-weight: 500;
  color: #4d4c5a;
}
